@model DotNet.Highcharts.Highcharts

@*Introduce JQuery *@
@Scripts.Render("~/bundles/jquery")

@{
    ViewBag.Title = "AnotherHistPriceChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Highcharts-3.0.1/js/highcharts.js" type="text/javascript"></script>

<h2>AnotherHistPriceChart</h2>
@(Model)
